.sconsign.dblite
.sconf_temp/
.coverage
.cache/
config.log
*.pyc
*.cfgc
*.gz
/apdb-*.py
/test*.py
/log*
/var_sources.npy
/apdb*.db*
tests/.tests
pytest_session.txt
python/lsst/l1dbproto/version.py
/bin/
.pytest_cache/
lsst_l1dbproto.dist-info
