.sconsign.dblite
.sconf_temp/
.coverage
.cache/
config.log
*.pyc
*.cfgc
*.gz
/ppdb-*.py
/test*.py
/log*
/var_sources.npy
/ppdb*.db*
tests/.tests
pytest_session.txt
python/lsst/l1dbproto/version.py
/bin/